<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<body>

<div class="container" id="body" layout:fragment="content">
	
	<!-- Modal -->
	<div class="modal fade" id="adminServicesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span> 서비스 - 운영자 지정</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-heading"><b th:text="|${adminUser.name} (${adminUser.userId})님의 관리 서비스 설정|">서비스 설정</b></div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-9">
									<p>※ 마우스 드래그 앤 드롭으로 끌어다 놓으면 됩니다.</p>
								</div>
								<div class="col-md-3 text-right">
									<button type="button" id="adminServicesMod" class="btn btn-primary" th:value="${adminUser.userId}">변경내용 저장</button>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-6">
									<ul id="sortable-unused" class="list-group connectedSortable">
										<li class="list-group-item active ui-state-disabled" data-service-id="">서비스</li>
										<li class="list-group-item" th:each="item: ${allServices}" th:attr="data-service-id=${item.serviceId}" th:text="${item.serviceName}">뿌리오</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul id="sortable-used" class="list-group connectedSortable">
										<li class="list-group-item active ui-state-disabled" data-service-id="" th:text="|${adminUser.name}(${adminUser.userId})의 관리 서비스|">관리 서비스</li>
										<li class="list-group-item list-group-item-danger" th:each="item: ${adminUser.services}" th:attr="data-service-id=${item.serviceId}" th:text="${item.serviceName}">뿌리오</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="closeAdminServicesModal" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<!--// Modal -->

</div>

<script type="text/javascript" layout:fragment="javascript">
	$(document).ready(function () {
		// 카테고리 설정 드래그 앤 드롭 영역 설정
		var $sortable = $('#sortable-used, #sortable-unused');
		$sortable.sortable({
			items: 'li:not(.ui-state-disabled)',
			connectWith: '.connectedSortable'
		}).disableSelection();
		
		$('#adminServicesModal').modal('show');

		// 카테고리 변경 내용 저장
		$('#adminServicesMod').click(function() {

			if (!confirm('설정을 저장하시겠습니까?')) {
				return;
			}

			var $usedList = $('#sortable-used li:not(.ui-state-disabled)'),
				userId = $(this).val();

			var serviceIds = [];
			$usedList.each(function(index) {
				serviceIds[index] = $(this).data('serviceId');
			});

			$.ajax({
				method: 'PUT',
				url: '/admins/'+userId+'/services',
				async: false,
				data: {
					serviceIds: serviceIds
				}
			}).done(function(data) {
				alert('변경된 내용이 저장되었습니다.');
				location.reload();
			});
		});

	});
</script>

</body>
</html>