<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<body>

<div layout:fragment="content">
	<!-- Modal -->
	<div class="modal fade" id="passwordFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><i class="fa fa-key" aria-hidden="true"></i> <span>비밀번호 변경</span></h4>
				</div>
				<div class="modal-body">
					<form class="form-signin" id="passwordForm" onsubmit="return false;">
						<div class="alert alert-info" role="alert">
							<strong>비밀번호 변경 시 유의사항</strong>
							<p>
								- 비밀번호는 10~20자의 영문+숫자 조합으로 설정해주세요.<br/>
								- 생일, 주민등록번호 등 타인이 알아내기 쉬운 비밀번호는 사용을 자제해주세요.<br/>
								- 주기성 문자(abcd, 1234 등) 및 키보드상의 연속된 배열(asdf, qwerty 등)로 구성된 비밀번호는 사용을 자제해주세요.<br/>
								- 안전한 비밀번호 관리를 위해 한 달에 한 번 주기로 비밀번호를 변경하시길 권고합니다.
							</p>
						</div>
						<div class="form-group">
							<label for="oldPassword">기존 비밀번호</label>
							<input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="기존 비밀번호" required="required" />
						</div>
						<div class="form-group">
							<label for="oldPassword">새 비밀번호</label>
							<input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="새 비밀번호" required="required" />
						</div>
						<div class="form-group">
							<label for="oldPassword">새 비밀번호 확인</label>
							<input type="password" id="newPasswordRe" class="form-control" placeholder="새 비밀번호 확인" required="required" />
						</div>
						<button class="btn btn-primary btn-block" type="submit">비밀번호 변경</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<!--// Modal -->
</div>

</body>
</html>