<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<body>

<div class="container" id="body" layout:fragment="content">
	<h3>정보 변경</h3>

	<form id="admin-form" method="post">
		<div class="form-group">
			<label for="userId">ID</label>
			<input type="text" class="form-control" id="userId" value="adminUserId" th:value="${adminUser.userId}" disabled="disabled" />
		</div>
		<div class="form-group">
			<label for="name">운영자명</label>
			<input type="text" class="form-control" id="name" value="adminUserName" th:value="${adminUser.name}" disabled="disabled" />
		</div>
		<div class="form-group">
			<label for="mobileNo">휴대폰번호</label>
			<input type="number" class="form-control" id="mobileNo" name="mobileNo" value="01012345678" th:value="${adminUser.mobileNo}" />
		</div>
		<div class="form-group">
			<label for="email">이메일</label>
			<input type="email" class="form-control" id="email" name="email" value="unityalert@altong.co.kr" th:value="${adminUser.email}" />
		</div>
		<div class="form-group text-right">
			<button class="btn btn-primary" type="submit">저장</button>
		</div>
	</form>
</div>

<script type="text/javascript" layout:fragment="javascript">
	$(document).ready(function() {
		$('#admin-form').submit(function() {

			$.ajax({
				method: 'PUT',
				url: '/admins/user-info',
				data: {
					mobileNo: $('#mobileNo').val(),
					email: $('#email').val()
				}
			}).done(function () {
				alert('변경되었습니다.');
				history.back();
			});

			return false;
		});
	});
</script>

</body>
</html>